h1+.fcm-dropzone {
    margin-top: 10px;
}

.fcm-dropzone {
    display: block;
    border: 2px dashed #ccd0d4;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    transition: 0.2s;
}

.fcm-dropzone.dragover {
    background: #f0f6fc;
    border-color: #2271b1;
}

#fcm-mapping-form th,
#fcm-mapping-form td {
    white-space: nowrap;
    width: 1%;
}

#fcm-mapping-form th:last-child,
#fcm-mapping-form td:last-child {
    width: 100%;
}

#fcm-mapping-form label input {
    margin-left: 10px;
}

.fcmanager-progress-bar {
    position: relative;
    width: 100%;
    height: 40px;
    background: #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 20px;
}

.fcmanager-progress-fill {
    width: 0%;
    height: 100%;
    background: #2271b1;
    transition: width 0.2s ease;
}

.fcmanager-progress-fill.fcmanager-progress-failed {
    background: #e74c3c;
}

.fcmanager-progress-text {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 20px;
    transform: translate(0, -50%);
    font-weight: bold;
    pointer-events: none;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.fcmanager-structured-list__table {
    margin-bottom: 8px;
    border-spacing: 10px;
}

.fcmanager-structured-list__table td {
    padding: 0;
}

.fcmanager-structured-list__table td input {
    width: 100%;
}

.fcmanager-structured-list__table td:last-child {
    width: 20px;
    padding-right: 0;
}

.fcmanager-structured-list__table button.fcmanager-structured-list__remove {
    color: #b32d2e;
    padding: 10px;
}